{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>프로필</title>
    <link rel="stylesheet" href="{% static 'KWEB211/style.css' %}">
</head>
<body>
    <div class="profileTopBar">
        프로필 |
        <a href="{% url 'index' %}">home </a>|
        <a href="{% url 'profilechange' %}"> 프로필 변경</a>
    </div>
    <div class="profileTitle">
        <h1>프로필</h1>
    </div>
    <div class="profileForm">
        <div>
            이름: {{ nickname }}
        </div>
        <div>
            학번: {{ studentId }}
        </div>
        <div>
            아이디: {{ username }}
        </div>
        <div>
            이메일: {{ email }}
        </div>
        <div>
            교수자/학생 여부: {{ position }}
        </div>
    </div>
</body>
</html>